  
/* For tablets */
@media only screen and (max-width:800px) {
  .main {
    padding: 10%;
    width: auto;
    height: auto;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 65px;
    text-align: center;
  }
  
  .pronouncing-word-class {
    position: absolute;
    left: 0;
    top: 65%;
    line-height: 65px;
    width: 100%;
    text-align: center;
  } 

  /* Next & Previous buttons */
  .prev, .next {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 44%;
    width: auto;
    margin-top: -30px;
    padding: 20px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #000000cc;
    color: white;
  }

  .overlay {overflow-y: auto;}

  .overlay .menu-button-close {
    font-size: 35px;
    top: 10px;
    right: 20px;
  }

  .verb-tennse-sentence-class {
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s;
    font-size: 26px;
    position: absolute;
    top: 71.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    text-align: center;
    /* width: 100%; */
    /* padding: 5%; */
    /* margin-top: 0px; */
  }

}

/* For mobile phones: */
@media only screen and (max-width:100px) {
  .main {
    padding: 10%;
    width: auto;
    height: auto;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 65px;
    text-align: center;
  }
  
  .pronouncing-word-class {
    position: absolute;
    left: 0;
    top: 65%;
    line-height: 65px;
    width: 100%;
    text-align: center;
  } 

  /* Next & Previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 44%;
    width: auto;
    margin-top: -30px;
    padding: 20px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #000000cc;
    color: white;
  }

  .overlay {overflow-y: auto;}
  
  .overlay .menu-button-close {
    font-size: 35px;
    top: 10px;
    right: 20px;
  }

  .verb-tense-div-span-class {
    text-align: center;
    display: inline-block;
    margin: 1px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 1%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* margin-top: 10px; */
  }

  .verb-tennse-sentence-class {
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s;
    font-size: 26px;
    position: absolute;
    top: 71.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    text-align: center;
    /* width: 100%; */
    /* padding: 5%; */
    /* margin-top: 0px; */
  }

}